
{# src/Acme/HelloBundle/Resources/views/Hello/index.html.twig #}
 {% extends 'SampleContactBundle:Default:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/contact.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <h1>お問い合わせ</h1>
    <p>下記項目を入力し、送信ボタンをクリックして下さい。</p>

    <form action="{{ path('contact_top') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_errors(form) }}
        <div class="control-group">
            {{ form_label(form.name, '氏名', { 'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.mail, 'メールアドレス', { 'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.mail) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.mail_co, 'メールアドレス(確認)', { 'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.mail_co) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.contact_details, 'お問い合わせ内容', { 'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.contact_details) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.message, 'メッセージ', { 'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.message) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.file_path, '添付ファイル', { 'label_attr': {'class': 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.file_path) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">送信</button>
            </div>
        </div>
    </form>





     {# これはコメントです #}
     {% for i in 0..10 %}
         <div class="{{ cycle(['odd', 'even'], i) }}">
             <!-- 何らかの HTML コード -->
         </div>
     {% endfor %}
 {% endblock %}